<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Index route</title>
</head>
<body>
    <div class="add-btn">
        <a href="/items/new">Add new items</a>
    </div>
    <div class="topnav">
        <h1>STORE ITEMS LIST</h1>
    </div>
    <div class="container">
        <% products.forEach(product =>{ %>
        <div class="card">
        <div class="product-info">
        <a href="/items/<%= product._id %>"><%=product.name %></a>
        <img src=<%=product.img %>> <br />
        Price: <%=product.price %> 
    </div>
    </div>
   <%    })%>
</div>
</html>