<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>NewPage-with Forms</title>
  </head>
  <body>
    <div class="containernew">
      <div class="topnav">
        <h1>NEW- Add New Item</h1>
      </div>
      <div class="newcard">
      <form action="/items" method="POST">
        Name: <br /><input type="text" name="name" /><br />
        Description:<br /> <input type="text" name="description" /><br />
        Image:<br /> <input type="url" name="img" /><br />
        <!-- currency is not an actual type of input, i would use number cause a user can put in a string instead of a number as is and then the data will not post according to your schema cause price is number-->
        Price: <br /><input type="number" name="price" /><br />
        Qty:<br /> <input type="number" name="qty" /><br />
        <!-- <input type="submit" value="Add New Items"> -->
        <br>
        <button type="submit">Add New Item(s)</button>
      </form>
      <br />
      <nav>
        <a href="/items">
          <button>Back</button>
        </a>
      </nav>
    </div>
    </div>
  </body>
</html>
