body {
    background-color: #F9F9F9;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.topnav {
    background-color: #47B5FF;
    overflow: hidden;
    text-align: center;
}

.container {
    display: flex;
    border: 3px solid #161212;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card {
    list-style: none;
    /* width: 320px; */
    padding: 20px;
    background-color: #fef4f4;
    color: #222;
    border: 2px solid #B8E8FC;
    margin: 5px;
}

.container .card {
    width: 320px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #1746A2;
    border-radius: 15px;
    box-shadow: 0 0 7px #B4CDE6;
    ;
}

.container .card .img {
    width: 230px;
    margin: 20px auto;
}

.container .card .img {
    width: 100%;
}

img {
    height: 300px;
    width: 300px;
}

.containershow {
    margin: 1em auto;
    padding: 0;
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
}

.cardshow {
    padding: 20px;
    background-color: #fef4f4;
    color: #000000;
    border: 1px solid #B8E8FC;
    margin: 40px;
}

.containershow .cardshow {
    width: 350px;
    margin: 50px auto;
}

.imgs {
    height: 350px;
    width: 350px;
    /* align-items: center; */
}

/* .editbtn {
    border-radius: 12px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 19px;
    transition-duration: 0.4s;
}

.editbtn:hover {
    background-color: #47B5FF;
    color: white;
} */

/* .deletebtn {
    border-radius: 12px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 19px;
    transition-duration: 0.4s;
}

.deletebtn:hover {
    background-color: #47B5FF;
    color: white;
} */

button {
    display: inline-block;
    background-color: #31E1F7;
    border-radius: 15px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 10px;
    padding: 2px;
    width: 100px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
