body {
    background-color: #EAEDF0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    line-height: 1.3;
}

.topnav {
    background-color: #b3cde0;
    overflow: hidden;
    text-align: center;
}

.container {
    display: flex;
    border: 3px solid #b3cde0;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card {
    list-style: none;
    /* width: 320px; */
    padding: 20px;
    background-color: #fef4f4;
    color: #222;
    border: 2px solid #B8E8FC;
    margin: 5px;
}

.container .card {
    width: 320px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #1746A2;
    border-radius: 20px;
    box-shadow: 0 0 7px #B4CDE6;
}

.container .card .img {
    width: 230px;
    margin: 20px auto;
}

.container .card .img {
    width: 100%;
}

img {
    height: 300px;
    width: 300px;
}

.containershow {
    margin: 1em auto;
    padding: 0;
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
}

.cardshow {
    padding: 50px;
    background-color: #fef4f4;
    color: #000000;
    border: 3px solid #B8E8FC;
    margin: 60px;
}

.containershow .cardshow {
    width: 350px;
    margin: 50px auto;
    border-radius: 25px;
}

.imgs {
    height: 350px;
    width: 350px;
}

button {
    background-color:#3B9AE1;
	color: #0F1123;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #182747;
	cursor: pointer;
}
.stockbtn{
    background-color: #F05454;
}

.containeredit{
    display:block; 
	margin-bottom: 10px;
    padding: 0;
	color: #00092C;
	font-size: 20px;
	/* text-shadow: 1px 1px 1px #fff; */
}
.showcard{
    padding: 70px;
    background-color:  #b3cde0;
    color: #000000;
    border: 1px solid #B8E8FC;
    margin: 90px;
}
.containeredit .showcard{
    width: 400px;
    margin: 15px auto;
    border-radius: 10px;
}

.containernew{
    display:block; 
	margin-bottom: 10px;
    padding: 0;
	color: #30475E;
	font-size: 20px;
}
.newcard{
    padding: 70px;
    background-color: #5D6063;
    color: #000000;
    border: 1px solid #B8E8FC;
    margin: 90px;
}
.containernew .newcard {
    width: 400px;
    margin: 15px auto;
    border-radius: 10px;
}